@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

section {
  padding: 3em 0;
}

.font-bold {
  font-weight: bold;
}

.primary-color {
  color: #155f4b;
}

.secondary-color {
  color: #878787;
}

.tertiary-color {
  color: #a7e7a7;
}

.dark-color {
  color: #3a3a3a;
}

.bg-primary-color {
  background: #155f4b;
}

.bg-secondary-color {
  background: #878787;
}

.bg-tertiary-color {
  background: #a7e7a7;
}

.bg-fourth-color {
  background: #f6faf7;
}

.bg-dark {
  background: #3a3a3a;
}

.font-light {
  color: #fff;
}

.font-dark {
  color: #878787;
}

.btn-success {
  color: #ffffff !important;
}

.line {
  height: 15px;
  width: 40px;
}

.lines {
  display: flex;
}

.bg-img {
  background-image: url(img/bg.png);
  background-size: cover;
  background-position: center;
}

.btn-success {
  padding: 10px 25px;
  color: #fff;
  border: none;
}

.btn-success:active {
  border: none;
}

.btn-area {
  border: none;
  padding: 20px 30px;
  width: 100%;
}

.ppp .areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
}

.ppp .areas > button {
   border: none;
   width: 100%;
}

.ppp .areas > button:nth-child(even) {
  background: #3a3a3a;
}

.ppp .areas > button:nth-child(even):hover {
  background: #fff;
  color: #3a3a3a;
  transition: all ease-in .2s;
}

.ppp .areas > button:nth-child(odd):hover {
  background: #fff;
  color: #3a3a3a;
  transition: all ease-in .2s;
}

.cr .areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
}

.cr .areas > button {
   border: none;
   width: 100%;
}

.cr .areas > button:nth-child(even) {
  background: #155f4b !important;
  color: #fff;
}

.cr .areas > button:nth-child(even):hover {
  background: #fff !important;
  color: #3a3a3a;
  transition: all ease-in .2s;
}

.cr .areas > button:nth-child(odd):hover {
  background: #fff !important;
  color: #3a3a3a;
  transition: all ease-in .2s;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

.component {
  width: 60px;
}

.document-areas > div:hover {
  background: #878787;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.parameters .box {
  box-shadow: -4px 7px 32px -9px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -4px 7px 32px -9px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -4px 7px 32px -9px rgba(0, 0, 0, 0.8);
}

.parameters .second-box:hover {
  background: #155f4b;
  transition: all ease-in 0.2s;
  cursor: pointer;
} 

@media (min-width: 40em) {
  h1 {
    font-size: 56px;
  }
  h4 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }

  .component {
    width: 90px;
  }
}
